<h2>Coupon</h2>
<div class="coupon-wrapper">
<div class="barcode-container">
  <button mat-raised-button color="primary" (click)="generateCode(null)">Generate Code</button>
<ngx-barcode [(bc-value)]="barcodeValue" [bc-display-value]="true" [bc-format]="'EAN13'"></ngx-barcode>
</div>
<div class="form-container">
  <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Coupon name">
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="status" placeholder="Status">
        <mat-option value="active">active</mat-option>
        <mat-option value="inactive">inactive</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="startDate" matInput [matDatepicker]="startpicker" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="endDate" matInput [matDatepicker]="endpicker" placeholder="End date">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="discount" matInput placeholder="Discount">
    </mat-form-field>
    <button mat-raised-button color="primary">Save</button>
  </form>
</div>
</div>