<div class="coupon-page">
<button class="actionButtonCsv" (click)="openDialog()" mat-raised-button color="primary">Create coupon</button>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>
  
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> startDate </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date:'MM/dd/yyyy'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> endDate </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate | date:'MM/dd/yyyy'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> discount </th>
    <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
  </ng-container>
  <ng-container matColumnDef="barcode">
    <th mat-header-cell *matHeaderCellDef> barcode </th>
    <td mat-cell *matCellDef="let element"> <ngx-barcode [(bc-value)]="element.barcode" [bc-display-value]="true" [bc-format]="'EAN13'"></ngx-barcode></td>
  </ng-container>
  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="action update" (click)="updateCoupon(element.id)">edit</mat-icon>
      <mat-icon class="action delete" (click)="deleteCoupon(element.id)">delete</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>